<!DOCTYPE html>
<html>
  <head>
    <title>Rock - Paper - Scissors</title>
    <link href="/stylesheets/style.css" rel='stylesheet' type="text/css" />
    <link href="/stylesheets/bootstrap.css" rel='stylesheet' type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="row-fluid">
      <div class="span12 center">
        <% unless @message.nil? %>
          <div class="alert alert-<%= @message.keys.first %>">
            <%= @message.values.first %>   
          </div>
        <% end %>
        <div class="description">
          The game is Rock, Paper, Scissors. You know how it works. Play the computer. First one to 10 wins!
        </div>
        <br />
        <div class="progress progress-striped active">
          <div class="bar" style="width: <%= session[:you] * 10 %>%;"></div>
        </div>
        <div class="score">
          You: <%= session[:you] %>
        </div> 
        <div class="progress progress-danger progress-striped active">
          <div class="bar" style="width: <%= session[:computer] * 10 %>%;"></div>
        </div>
        <div class="score">
          Computer: <%= session[:computer] %>
        </div>
        <br />
        <a class="btn btn-primary btn-large" href="/rock">Rock</a>
        <a class="btn btn-primary btn-large" href="/paper">Paper</a>
        <a class="btn btn-primary btn-large" href="/scissors">Scissors</a>
        <br />
        <br />
        <br />
        <a href="/reset">Start Over</a>
        <br />
        <br />
        <br />
        <a href="http://twitter.com/brandonhilkert" target="_blank" class="small">@brandonhilkert</a>
      </div>
    </div>
  </body>
</html>